<h1>Pick a Random Number</h1>
<form action="/random/results" method="get">
  <label for="min_input">Minimum:</label>
  <input id="min_input" type="number" name="user_min" required>

  <label for="max_input">Maximum:</label>
  <input id="max_input" type="number" name="user_max" required>

  <button type="submit">Pick random number</button>
</form>
